.product-item {
    
    // display: inline-block;
    padding: 10px;
    width: 31%;
    position: relative;
    justify-content: center;
    text-align: center;
    
}
.containerCupCakes {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    // width: 100%
    color:#754b23;
}
.titleShop {
    color:#754b23;
    text-align: center;
}